#HomePage{
    width: 100%;
}
.bgVideo {
    position: fixed;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#nameLogo{
    width: 100%;
    text-align: center;
    top:45%;
    position: absolute;
    color: white;
    margin: 0 auto;
    font-size: 40px;
}